<h1>Your Lists</h1>
<hr />
  <ul>
  <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list, class: "lead" %> (<%= link_to list.user.name, list.user %>)
      </li>
  <% end %>
  </ul>

