<h1>Lists</h1>
<%= link_to 'New List', new_list_path %>
<hr />
  <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list %> (<%= link_to list.user.name, list.user %>)
      </li>
  <% end %>

