<h2>Admin panel</h2>
<%= content_tag :p, "#{pluralize @users.size, "person"} working on this task." %> 
<% if @users.any? %>
<ul>
<% @users.each do |user| %>
	<%= content_tag :li, @user.name %>
<% end %>
</ul>
<% end %>