<% if current_user.lists.any? %>
	<%= content_tag :h1, 'Your lists' %>
	<hr />
	<% current_user.lists.each do |list| %>
		<div class="list">
			<h3><%= link_to list.name, list_path(list.code) %></h3>
			<div class="list-container">
			<% list.tasks.each do |task| %>
				<%= render partial: 'tasks/task', locals: {task: task} %>
			<% end %>
		</div>
	<% end %>
<% else %>
	<h1>You don't have any lists :(</h1>
<% end %>
