nav {
  padding: 10px;
  background-color: #AAE2FF;
  color: white;
}

nav a:visited { color: white; }

.main {
	width: 750px;
	margin: auto;
}

.list-container li {
	padding: .75em;
	border-bottom: 1px solid #CCC;
	list-style-type: none;
}